*{
    margin: 0px ;
    padding: 0px ;
    box-sizing:border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,li{
    list-style: none;
}
/* ================================================================================
                    Registration Page Start Here
================================================================================= */
.MuiGrid-container{
    height: 100vh;
}
.resizeimg{
    width: 100% ;
    height: 100vh;
    object-fit: cover; 
}
.w-100{
    height: 100vh;
}
.regflex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.regform{
    width: 76%;
    
}
.regform .textfield{
    width: 100%;
}
.regform .textfield input{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #11175D;
    border-radius: 10px;
}
.regform .textfield input::placeholder{
    color: #585D8E;
}
.regeye{
    position: absolute;
    right: 10px;
    top: 33px;
    transform: translateY(-50%);
    cursor: pointer;
}
.fixregform .regformmargin{
    margin-bottom: 30px;
    position: relative;
}
.regform .regbtn{
    display: block;
    width: 100%;
    padding: 17px 0;
    cursor: pointer;
    background: #5F35F5;
    border-radius: 86px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    border: none;
}
.regform .loadbtn{
    display: block;
    width: 100%;
    padding: 13px 0;
    cursor: pointer;
    border-radius: 86px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: none;
}
.fixregform{
    width: 72%;
}
.regform p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #666666;
    margin-bottom: 40px;
}
.regloghead{
    font-size: 34px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #11175D;
    margin-bottom: 13px;
}
.loghead{
    font-size: 34px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #11175D;
    margin-bottom: 30px;
}
.fixregform .link{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #03014C;
    margin-top: 20px;
    display: inline-block;
}

.fixregform .link2{
    
    width: 100%;
    text-align: center;
}
.fixregform .link span{
    color: #EA6C00;
    font-weight: 700;
    cursor: pointer;
}
.logformtop{
    margin-top: 20px;
}
.googlebtn{
    display: inline-block;
    width: 220px;
    height:62px;
    margin-bottom: 40px;
    cursor: pointer;
}
.googlebtn img{
    width: 100%;
    height: 100%;
}
.forgetreg{
    margin-top: 30px;
}
.forgetreg{
    margin-left: 10px;
    color: #03014C;
}
/* ================================================================================
                    Registration Page End Here
================================================================================= */


/* ================================================================================
                    Forgot Page End Here
================================================================================= */
.forgotbtn{
    margin-top: 25px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}
.forgotbtn .fotgotlink{
    cursor: pointer;
    margin-left: 10px;
    font-weight: 700;
    color: #EA6C00;

}
.forget-password-container {
    width: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  
  .forget-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #11175D;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
  }

 
  button {
    padding: 10px 20px;
    background-color: #5F35F5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .forget-password-container div button{
    display: block;
  }
  .forget-password-container div .MuiFormControl-root{
    width: 100%;
  }
  
/* ================================================================================
                    Forgot Page End Here
================================================================================= */


/* ================================================================================
                    Mavbar Page Start Here
================================================================================= */
.navbar{
    height: 100vh;
    background: #fff;
    display: flex;
    padding-left: 10px;
    padding-top: 15px;
}
/* .nav_container{
    padding: 35px 23px 35px 32px;
    width: 100%;
    height: 100vh;
    background: #fff;
} */
.navbar .nav_container{
    width: 100%;
    height: 650px;
    background: #5F35F5;
    border-radius: 20px;
    padding-top: 30px;
    text-align: center;
}
.img_div_profile{
    width: 85px;
    height: 85px;
    margin: 0 auto;
}
.img_div_profile  a img{
    width: 100%;
} 
.nav_menu{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.nav_menu .menu_icon a{
    font-size: 30px;
    color: #BAD1FF;
    cursor: pointer;
}
.nav_menu  .active{
    font-size: 30px;
    color: #5F35F5;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.active::after {
	content: '';
	position: absolute;
	right: 0px;
	top: 44%;
	width: 120px;
	height: 60px;
	background: #fff;
	transform: translateY(-50%);
	z-index: -1;
	border-radius: 20px 0 0 20px;
}
.active::before {
	content: '';
	position: absolute;
	right: 0;
	top: 44%;
	width: 8px;
	height: 60px;
	background: #5F35F5;
	transform: translateY(-50%);
	z-index: 2;
	border-radius: 25px 0 0 25px;
	filter: drop-shadow(-2px 0px 4px #0000004d);
}
.nav_menu_exit{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.nav_menu_exit li{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transition: all linear 0.3s;
}
.nav_menu_exit li:hover{
    color: #eb0202;
}
/* ================================================================================
                    Navbar Page End Here
================================================================================= */


/* ================================================================================
                    Home Page Start Here
================================================================================= */

.MuiGrid-root .homeContainer{
    margin: 16px 10px 0 0;
    height: 50vh;
}
.searchbox input{
    width: 100%;
    padding: 15px 30px 15px 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-family: 400;
    color: #292929;
}
.searchbox input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(61, 61, 61, 0.3);
}
.searchbox{
    position: relative;
}
.searchbox .searchicon {
	position: absolute;
	left: 15px;
	top: 40%;
	transform: translateY(-50%);
	font-size: 24px;
}
.searchbox .Search_dot_icon{
    position: absolute;
	right: 5px;
	top: 40%;
	transform: translateY(-50%);
	font-size: 20px;
    color: #5F35F5;
}


/*==============================================================================
                    Home Page End Here
================================================================================= */


/*==============================================================================
                    Group Page End Here
================================================================================= */
.homeContainer .MuiGrid-container{
    height: 50vh;
}
.group_container{
    width: 100%;
    height: 247px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
    border-radius: 20px;
    padding: 0 15px 10px 20px;
    overflow: scroll;
    position: relative;
}
.group_container .heading{
    position: sticky;
    left: 0;
    top: 0;
    background: #fff;
    padding-top:10px;

}
.group_dot_icon {
	position: absolute;
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
    color: #5F35F5;
}
.group_container .heading h3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 600;
    color: #292929;
}
.group_profile_pic{
    width: 45px;
    height: 45px;
}
.group_profile_pic img{
    width: 100%;
    height: 100%;
}
.group_menu_container .group_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
    padding-top: 11px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}
.group_menu_container .group_menu:first-child{
    padding-top: 0;
}
.group_menu_container .group_menu:last-child{
    padding-bottom: 0;
    border-bottom: none;
}
.group_menu_container{
    margin-top: 15px;
}
.group_menu .group_info{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.group_title h3{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-family: 600;
    color: #292929;
}
.group_title p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-family: 400;
    color: rgba(77, 77, 77, 0.753);

}
.group-btn-cont button{
    margin-top: 0;
    padding: 5px 20px;
}
/*==============================================================================
                    Group Page End Here
================================================================================= */


/*==============================================================================
                    Friends Page Start Here
================================================================================= */
.friends_container{
    width: 100%;
    height: 314px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
    border-radius: 20px;
    padding: 0 20px 10px 20px;
    overflow: scroll;
    position: relative;
}
.friends_container .heading{
    position: sticky;
    left: 0;
    top: 0;
    background: #fff;
    padding-top:10px;
    padding-bottom: 5px;

}
.friend_dot_icon {
	position: absolute;
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
    color: #5F35F5;
}
.friends_container .heading h3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 600;
    color: #292929;
}
.friend_profile_pic{
    width: 40px;
    height: 40px;
}
.friend_profile_pic img{
    width: 100%;
    height: 100%;
}
.friend_menu_container .friend_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);

}
.friend_menu_container .friend_menu:last-child{
    padding-bottom: 0;
    border-bottom: none;
}
.friend_menu_container .friend_menu:first-child{
    padding-top: 10px;
}

.friend_menu .group_info{
    display: flex;
    column-gap: 10px;
    align-items: center;
}


.friend_title h3{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-family: 600;
    color: #292929;
}
.friend_title p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-family: 400;
    color: rgba(77, 77, 77, 0.753);

}
.friend-btn-cont p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-family: 500;
    color: rgba(41, 41, 41, 0.507);
}
.user-btn-cont button{
    margin-top: 0px;
    padding: 5px 10px;
}
.friend_request_btn{
    margin-left: 5px;
}
/*==============================================================================
                    Friends Page End Here
================================================================================= */